body{
    display: flex;
    justify-content: center;
}
.body {
    display: inline-block;
    width: 320px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.input{
    grid-column: 1 / span 4;
    width: 200px;
    margin: 1px;
}
#enter{
    display: inline-block;
    height: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    font-size: 20px;
    color: black;
    width: 300px;
    padding: 20px 5px;
    text-align: right;
    border-radius: 10px;
}
.calculator {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100px;
}
.item{
    display: inline-block;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 70px;
    height: 70px;
}
.equal {
    display: inline-block;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    background-color: rgb(50, 100, 150);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 70px;
    height: 70px;
}
.thesis {
    display: flex;
    text-align: center;
    margin: 5px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 70px;
}
.open{
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 10px 0 0 10px;
    width: 35px;
}
.close{
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 35px;
}
.item:hover {
    transition: 0.1s;
    background-color: rgb(180, 180, 180);
}

.equal:hover {
    transition: 0.1s;
    background-color: rgb(40, 80, 120);
}
.open:hover {
    transition: 0.1s;
    background-color: rgb(180, 180, 180);
}
.close:hover {
    transition: 0.1s;
    background-color: rgb(180, 180, 180);
}